<nav>
  <span>
    <a [routerLink]=" ['./'] " class="btn btn-success">
      Home
    </a>
  </span>
    <span>
    <a [routerLink]=" ['./tables'] " class="btn btn-default">
      Tables
    </a>
  </span>
  <span>
    <a [routerLink]=" ['./add-table'] " class="btn btn-default">
      Add Table
    </a>
  </span>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<section class="content">
  <pre class="app-state">this.appState.state = {{ appState.state | json }}</pre>
</section>

<footer class="content">
  <span>Seven Wonders Score Started by <a [href]="url">@GorlifSense</a></span>
  <div>
    <a [href]="url">
      <img [src]="angularclassLogo" width="25%">
    </a>
  </div>
</footer>
