<div class="card-container" xmlns="http://www.w3.org/1999/html">
  <section class="content">
    <h1>7 Wonders</h1>
    <p>Testing playground for <a href="https://github.com/GorlifSense">Gorlif Sense</a> development team.</p>
  </section>

  <section class="content">
    <div>
      <p>For RAML API see <a href="http://gorlifsense.com/Board-Games-Results"><b>Board Games Results API</b></a></p>
    </div>
  </section>
  <section class="content">
    <div>
      For hot module reloading run
      <pre>npm run start:hmr</pre>
    </div>
    <div>
      <h4>Local State</h4>

      <form (ngSubmit)="submitState(localState.value)" autocomplete="off">

        <input
                [value]="localState.value"
                (input)="localState.value = $event.target.value"
                placeholder="Submit Local State to App State"
                autofocus>

        <button class="btn btn-default">Submit Value</button>
      </form>
    </div>
    <br>

    <!--
        <input type="text" [value]="localState.value" (input)="localState.value = $event.target.value" autofocus>
        Rather than wiring up two-way data-binding ourselves with [value] and (input)
        we can use Angular's [(ngModel)] syntax
        <input type="text" name="textInput" [(ngModel)]="localState.value" autofocus>
      -->

    <pre>this.localState = {{ localState | json }}</pre>
  </section>
</div>

